
table.GeneratedTable {
  width: 100%;
  background: rgba(0, 151, 19, 0.1);
  /* background-color: #ffffff; */
  border-collapse: collapse;
  border-width: 2px;
  border-color: #4242bd;
  border-style: solid;
  color: #000000;
  /* opacity: 1; */

}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  background: rgba(180, 185, 181, 0.1);
  /* border-color: #4242bd; */
  border-style: solid;
  padding: 20px;
  /* opacity: 0.8; */

}

table.GeneratedTable thead {
    background: rgba(194, 199, 195, 0.1);
  /* background-color: #408080; */
  /* opacity: 0.5; */

}

body{
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("https://ae01.alicdn.com/kf/HTB1OzvOXsrrK1RjSspaq6AREXXaN/MEHOFOTO-Birthday-Wedding-theme-hollywood-photo-backdrop-Red-carpet-for-VIP-event-party-banner-superstar-background.jpg_960x960.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

a{
    color: #00B7FF;
    opacity: 0.8;

}

ul{
    padding: 0;
}

ul h5{
    /* list-style-type: none;
    background: #efefef;
    padding: 10px;
    margin-bottom: 10px; */
    /* width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #4242bd;
    border-style: solid;
    color: #000000; */
}

#but{
    text-align: center;    
    background-color: rgb(216, 231, 9);
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 150px;
    cursor: pointer;
    opacity: 0.5;

      
}
#but:hover{
    opacity: 1;
}

ul h5 .edit{
    display: none;
}

ul h5.edit .edit{
    display: initial;
}

ul li.edit .noedit{
    display: none;
}

/* .mInput{
    align-self: center;
    text-align: center;
    padding: 1px;
    background-color: #408080;
    opacity: 1.0;
    
} */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: rgb(33, 34, 36);
    color: rgb(241, 238, 22);
    cursor: pointer;
    padding: 18px;
    width: 30%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: rgb(51, 104, 202);

  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-image: url(https://d.newsweek.com/en/full/1038180/19787239-10154930893573074-1345130715200211573-o.jpg);
    background-size: contain;
    width: 30%;
    color: gold;
    font-weight: bolder;
    font-size: large;
   
  }

.headerStyle{
    text-align: center;
    padding: 1%

}

table {
    table-layout: fixed ;
    width: 100% ;
  }

td {
    width: 25% ;
    text-align: center;
  }

.sub{
    text-align: center;    
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 0.5;
}
.sub:hover{
    opacity: 2;
}

.noedit{
    color: rgb(15, 15, 15);
    font-family: monospace;
}

.header-img {
    width: 100%;
    height: 400px;
    background: url(AT2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
  }

  .foot{
      text-align: center;
  }

